@media only screen and (max-width: 600px) {
  mat-card{
    width: 100%;  margin-top: 50px;
    margin-right: auto; margin-left: auto;
    margin-bottom:100px;
  }
}

@media screen and (min-width: 600px) {
  mat-card{
    width: 80%;  margin-top: 50px;
    margin-right: auto; margin-left: auto;
    margin-bottom:100px;
  }
}

@media screen and (min-width: 768px) {
  mat-cardr{
    width: 60%;  margin-top: 50px;
    margin-right: auto; margin-left: auto;
    margin-bottom:100px;
  }
}

@media screen and (min-width: 992px) {
  mat-card{
    width: 60%;  margin-top: 50px;
    margin-right: auto; margin-left: auto;
    margin-bottom:100px;
  }
}

@media screen and (min-width: 1200px) {
  mat-card{
    width: 60%;  margin-top: 50px;
    margin-right: auto; margin-left: auto;
    margin-bottom:100px;
  }
}
span{
  color:#ffffff;
  background-color: rgb(185, 44, 98)!important;

}
.paras{
  background-color: rgb(107, 40, 214) !important;
  color: #ffffff !important;
  font-weight: bold;
}
a{
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

.h3{
  color: rgb(44, 7, 255);
}
h5{
  color: #222;
  text-decoration: underline;
}
