<div class="footer">
  <details>
    <summary>Copyright 2019-2020.</summary>
    <p> - by --CROMO-- Data. All Rights Reserved.</p>
    <p>All content and graphics on this web site are the property of the CROMO ORG.</p>
    <p>
      <a href="#">amosmoyo5300@gmail.com</a>
    </p>
    <p>Site create by: AMOS MOYO</p>
  </details>

  <p><b>Note:</b> The information provided above is strictly confidential.</p>
  <p><a href="https://github.com/amosmoyo/COVID19-ESTIMATOR.git">github.com/amosmoyo/COVID19-ESTIMATOR.git</a></p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum magni, amet deserunt, assumenda laudantium eligendi voluptate provident et voluptatum quo debitis, excepturi cum quidem autem doloribus ex. Optio porro delectus amet molestias dolorem illo vel. Dicta architecto, reiciendis minus aspernatur recusandae ipsam quasi quibusdam repellendus, alias nam eum porro beatae.
  </p>
  <meta name="Description" content="Author: Amos Moyo, Category: Web page, Price: $0.00,
    Length: 1 pages">
</div>
